In [1]:
import os

import pandas as pd

In [2]:
all_files = [os.path.join('../data/waitrose',file) for file in os.listdir('../data/waitrose')
if file.endswith('.csv')]

df = pd.concat(pd.read_csv(file) for file in all_files)

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 25418 entries, 0 to 1593
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   data-product-id        25418 non-null  int64
 1   data-product-name      25418 non-null  object
 2   data-product-type      25418 non-null  object
 3   data-product-on-offer  25418 non-null  bool
 4   data-product-index     25408 non-null  float64
 5   image-url              25418 non-null  object
 6   product-page           25418 non-null  object
 7   product-name           25407 non-null  object
 8   product-size           25363 non-null  object
 9   item-price             25407 non-null  object
 10  price-per-unit         24976 non-null  object
 11  offer-description      7201 non-null   object
 12  category               25418 non-null  object
dtypes: bool(1), float64(1), int64(1), object(10)
memory usage: 2.5+ MB

In [3]:
df = df.drop_duplicates()

In [4]:
df = df.drop(columns=['data-product-name', 
                      'data-product-type', 
                      'data-product-index'])
df = (
    df.rename(columns={
        'data-product-id': 'id',
        'data-product-on-offer': 'offer',
        'product-page': 'page',
        'product-name': 'name',
        'product-size': 'size',
    })
)

In [5]:
def clean_item_price(item_price: str):    

    if 'each est.' in item_price:
        item_price = item_price.replace('each est.','')
    if '£' in item_price:
        item_price = item_price.replace('£', '')
    elif 'p' in item_price:
        item_price = item_price.replace('p', '')
        item_price = '0.' + item_price

    if '-' in item_price:
        item_price = item_price.split('-')[0]
         
    return float(item_price)


df['item_price_fixed'] = df['item-price'].astype(str).apply(clean_item_price)

df['item_price_fixed']

0        3.15
1        3.15
2       13.50
3        0.95
4        1.60
        ...
1589    24.31
1590     2.40
1591    10.00
1592     2.50
1593    21.49
Name: item_price_fixed, Length: 25378, dtype: float64

In [6]:
selected_row = df['item-price'].astype(str).str.contains('-')

df.loc[selected_row,'size'] = df.loc[selected_row,'size'].str.split('-').str[0].str.replace('(','')

In [7]:
df['item-price'] = df['item_price_fixed']

df.drop(columns=['item_price_fixed'],inplace=True)

In [8]:
df[selected_row][['name','size','item-price']]

                                                   name   size  item-price
291                           No.1 British Venison Rack    1kg        55.0
294   Carvery Leg of British Lamb Studded with Garli...  1.4kg        30.0
299      No.1 Five Bone French-Trimmed British Veal Rib    2kg        54.0
302    No.1 30 Day Dry Aged Jubilee Rib of British Beef    6kg       168.0
305             British Native Breed Whole Beef Brisket  2.2kg        31.0
307                    British Native Breed Beef Fillet  1.8kg        94.0
311   No.1 Free Range British Pork Hog Roast with Sa...  3.1kg        35.0
313   British Lamb Guard of Honour with a Pesto & Pi...  0.9kg        32.0
318   Boneless Leg of British Lamb with Apricot & Ro...  1.1kg        24.0
3237      No.1 Dry Aged Bone in Sirloin of British Beef  1.2kg        42.0
3279            British Native Breed Whole Shin of Beef    2kg        20.0
3328                          No.1 British Venison Rack    1kg        55.0
3330                             2 Beef Tomahawk Steaks  2.2kg        62.0
3360  Carvery Leg of British Lamb Studded with Garli...  1.4kg        30.0
3378     No.1 Five Bone French-Trimmed British Veal Rib    2kg        54.0
3396                 Medium Fresh Whole Scottish Salmon    3kg        60.0
3435   No.1 30 Day Dry Aged Jubilee Rib of British Beef    6kg       168.0
3448            British Native Breed Whole Beef Brisket  2.2kg        31.0
3454  No.1 Free Range Easy Carve British Pork Leg Joint    2kg        25.0
3471                   British Native Breed Beef Fillet  1.8kg        94.0
3475                 Fresh Whole Scottish Salmon Fillet  0.9kg        27.0
3513  No.1 Free Range British Pork Hog Roast with Sa...  3.1kg        35.0
3536  British Lamb Guard of Honour with a Pesto & Pi...  0.9kg        32.0
3546  No.1 Free Range British Pork Crackling 10 Bone...  2.6kg        39.0
3562  Boneless Leg of British Lamb with Apricot & Ro...  1.1kg        24.0
76                               2 Beef Tomahawk Steaks  2.2kg        62.0
1193      No.1 Dry Aged Bone in Sirloin of British Beef  1.2kg        42.0
1218            British Native Breed Whole Shin of Beef    2kg        20.0
1265                          No.1 British Venison Rack    1kg        55.0
1296  Carvery Leg of British Lamb Studded with Garli...  1.4kg        30.0
1320     No.1 Five Bone French-Trimmed British Veal Rib    2kg        54.0
1333                 Medium Fresh Whole Scottish Salmon    3kg        60.0
1359   No.1 30 Day Dry Aged Jubilee Rib of British Beef    6kg       168.0
1375            British Native Breed Whole Beef Brisket  2.2kg        31.0
1385  No.1 Free Range Easy Carve British Pork Leg Joint    2kg        25.0
1393                   British Native Breed Beef Fillet  1.8kg        94.0
1397                 Fresh Whole Scottish Salmon Fillet  0.9kg        27.0
1432  No.1 Free Range British Pork Hog Roast with Sa...  3.1kg        35.0
1461  No.1 Free Range British Pork Crackling 10 Bone...  2.6kg        39.0
1466  Boneless Leg of British Lamb with Apricot & Ro...  1.1kg        24.0

In [9]:
df.head()

,id,offer,image-url,page,name,size,item-price,price-per-unit,offer-description,category
0,525635,False,https://ecom-su-static-prod.wtrecom.com/images...,https://www.waitrose.com/ecom/products/organix...,Organix Raspberry & Apple Soft Oaty Bars,6x23g,3.15,£2.29/100g,NaN,"Baby, Child & Parent"
1,557746,False,https://ecom-su-static-prod.wtrecom.com/images...,https://www.waitrose.com/ecom/products/organix...,Organix Carrot Cake Oaty Bars,6x23g,3.15,£2.29/100g,NaN,"Baby, Child & Parent"
2,32062,False,https://ecom-su-static-prod.wtrecom.com/images...,https://www.waitrose.com/ecom/products/aptamil...,Aptamil 2 Follow On Milk,800g,13.50,£16.88/kg,NaN,"Baby, Child & Parent"
3,767801,False,https://ecom-su-static-prod.wtrecom.com/images...,https://www.waitrose.com/ecom/products/essenti...,Essential Baby Wipes,80s,0.95,1.2p each,NaN,"Baby, Child & Parent"
4,514054,False,https://ecom-su-static-prod.wtrecom.com/images...,https://www.waitrose.com/ecom/products/organix...,Organix Apple Rice Cakes,40g,1.60,£4/100g,NaN,"Baby, Child & Parent"

In [10]:
df.groupby('category')['item-price'].describe()

,count,mean,std,min,25%,50%,75%,max
category,,,,,,,,
"Baby, Child & Parent",428.0,5.196215,4.677661,0.60,1.8000,3.075,7.2625,25.00
Bakery,482.0,4.846680,7.750208,0.50,1.6000,2.200,3.1500,45.00
"Beer, Wine & Spirits",1679.0,14.425057,15.720801,0.30,5.3700,9.990,17.9900,299.99
Best of British,322.0,6.928106,12.570727,0.10,2.7125,4.150,6.0000,168.00
Dietary & Lifestyle,3337.0,3.795999,4.755322,0.10,1.9500,2.750,4.0000,139.99
Everyday Value,141.0,1.740284,1.202873,0.15,1.1000,1.350,2.0000,8.00
Food Cupboard,4186.0,2.665160,2.138691,0.35,1.6000,2.250,3.0000,43.50
Fresh & Chilled,3578.0,3.815151,5.267549,0.10,2.0000,2.900,4.1425,168.00
Frozen,431.0,3.627378,1.544523,0.70,2.6500,3.500,4.4750,12.00
Home,1075.0,8.595033,10.764164,0.49,3.0000,5.990,10.5000,159.00
Household,927.0,5.518619,3.934800,0.70,2.9500,4.500,7.0000,45.00
New,803.0,5.300162,4.948709,0.80,2.5000,3.500,6.0000,33.00
Organic Shop,671.0,4.937928,5.355143,0.60,2.0000,2.950,5.0000,35.00
Pet,372.0,5.403306,4.381911,0.65,2.2500,4.050,7.4500,30.00
Summer,1799.0,6.002223,7.900751,0.30,2.5000,3.750,6.0500,168.00
"Tea, Coffee & Soft Drinks",1290.0,3.826000,2.743019,0.40,2.1000,3.500,4.7500,59.99
"Toiletries, Health & Beauty",2255.0,7.734093,7.883916,0.55,3.1600,5.600,10.0000,168.00
Waitrose Brands,1591.0,3.005475,3.380658,0.10,1.4000,2.100,3.4000,53.20

In [11]:
plot_df = df.groupby('category')['item-price'].describe().reset_index()
plot_df

,category,count,mean,std,min,25%,50%,75%,max
0,"Baby, Child & Parent",428.0,5.196215,4.677661,0.60,1.8000,3.075,7.2625,25.00
1,Bakery,482.0,4.846680,7.750208,0.50,1.6000,2.200,3.1500,45.00
2,"Beer, Wine & Spirits",1679.0,14.425057,15.720801,0.30,5.3700,9.990,17.9900,299.99
3,Best of British,322.0,6.928106,12.570727,0.10,2.7125,4.150,6.0000,168.00
4,Dietary & Lifestyle,3337.0,3.795999,4.755322,0.10,1.9500,2.750,4.0000,139.99
5,Everyday Value,141.0,1.740284,1.202873,0.15,1.1000,1.350,2.0000,8.00
6,Food Cupboard,4186.0,2.665160,2.138691,0.35,1.6000,2.250,3.0000,43.50
7,Fresh & Chilled,3578.0,3.815151,5.267549,0.10,2.0000,2.900,4.1425,168.00
8,Frozen,431.0,3.627378,1.544523,0.70,2.6500,3.500,4.4750,12.00
9,Home,1075.0,8.595033,10.764164,0.49,3.0000,5.990,10.5000,159.00
10,Household,927.0,5.518619,3.934800,0.70,2.9500,4.500,7.0000,45.00
11,New,803.0,5.300162,4.948709,0.80,2.5000,3.500,6.0000,33.00
12,Organic Shop,671.0,4.937928,5.355143,0.60,2.0000,2.950,5.0000,35.00
13,Pet,372.0,5.403306,4.381911,0.65,2.2500,4.050,7.4500,30.00
14,Summer,1799.0,6.002223,7.900751,0.30,2.5000,3.750,6.0500,168.00
15,"Tea, Coffee & Soft Drinks",1290.0,3.826000,2.743019,0.40,2.1000,3.500,4.7500,59.99
16,"Toiletries, Health & Beauty",2255.0,7.734093,7.883916,0.55,3.1600,5.600,10.0000,168.00
17,Waitrose Brands,1591.0,3.005475,3.380658,0.10,1.4000,2.100,3.4000,53.20

In [12]:
plot_df = plot_df.rename(columns={
    '25%':'Q1',
    '50%':'median',
    "75%":'Q3'
})

In [13]:
plot_df

,category,count,mean,std,min,Q1,median,Q3,max
0,"Baby, Child & Parent",428.0,5.196215,4.677661,0.60,1.8000,3.075,7.2625,25.00
1,Bakery,482.0,4.846680,7.750208,0.50,1.6000,2.200,3.1500,45.00
2,"Beer, Wine & Spirits",1679.0,14.425057,15.720801,0.30,5.3700,9.990,17.9900,299.99
3,Best of British,322.0,6.928106,12.570727,0.10,2.7125,4.150,6.0000,168.00
4,Dietary & Lifestyle,3337.0,3.795999,4.755322,0.10,1.9500,2.750,4.0000,139.99
5,Everyday Value,141.0,1.740284,1.202873,0.15,1.1000,1.350,2.0000,8.00
6,Food Cupboard,4186.0,2.665160,2.138691,0.35,1.6000,2.250,3.0000,43.50
7,Fresh & Chilled,3578.0,3.815151,5.267549,0.10,2.0000,2.900,4.1425,168.00
8,Frozen,431.0,3.627378,1.544523,0.70,2.6500,3.500,4.4750,12.00
9,Home,1075.0,8.595033,10.764164,0.49,3.0000,5.990,10.5000,159.00
10,Household,927.0,5.518619,3.934800,0.70,2.9500,4.500,7.0000,45.00
11,New,803.0,5.300162,4.948709,0.80,2.5000,3.500,6.0000,33.00
12,Organic Shop,671.0,4.937928,5.355143,0.60,2.0000,2.950,5.0000,35.00
13,Pet,372.0,5.403306,4.381911,0.65,2.2500,4.050,7.4500,30.00
14,Summer,1799.0,6.002223,7.900751,0.30,2.5000,3.750,6.0500,168.00
15,"Tea, Coffee & Soft Drinks",1290.0,3.826000,2.743019,0.40,2.1000,3.500,4.7500,59.99
16,"Toiletries, Health & Beauty",2255.0,7.734093,7.883916,0.55,3.1600,5.600,10.0000,168.00
17,Waitrose Brands,1591.0,3.005475,3.380658,0.10,1.4000,2.100,3.4000,53.20

In [14]:
import numpy as np
from lets_plot import *
LetsPlot.setup_html()

In [15]:
tooltip_setup = (
    layer_tooltips()
        .line('@category')
        .line('[@Q1 -- @median -- @Q3]')
        .format('@Q1', '£ {.2f}')
        .format('@median', '£ {.2f}')
        .format('@Q3', '£ {.2f}')
)

g = (
    ggplot(plot_df, aes(y='category', x='median', xmin='Q1', xmax='Q3', fill='category')) +

    geom_linerange(size=1, alpha=0.75, tooltips=tooltip_setup) +

    geom_point(size=3, stroke=1, shape=21, tooltips=tooltip_setup) +

    scale_fill_discrete(guide='none') +

    scale_y_continuous(name="Categories\n(from largest to smallest median)", expand=[0.05, 0.05]) +
    scale_x_continuous(name="Price (£)", expand=[0., 0.05], format='£ {.2f}', breaks=np.arange(0, 20, 2.5)) +

    labs(title='"Beer, Wine & Spirits" has the highest median price for individual items',
         subtitle="Dots represent the median price, bars represent the 25th and 75th percentiles") +
    theme(axis_text_x=element_text(size=15),
        axis_text_y=element_text(size=17),
        axis_title_x=element_text(size=20),
        axis_title_y=element_text(size=20),
        plot_title=element_text(size=19, face='bold'),
        plot_subtitle=element_text(size=18),
        legend_position='none') +
    ggsize(1000, 500)

)

g

In [16]:
df[df.duplicated('id',keep='first')].count()

id                   9323
offer                9323
image-url            9323
page                 9323
name                 9317
size                 9299
item-price           9317
price-per-unit       9227
offer-description    2522
category             9323
dtype: int64

In [17]:
df.groupby('id')['category'].unique()

id
1023               [Tea, Coffee & Soft Drinks]
1029                           [Food Cupboard]
1048      [Dietary & Lifestyle, Food Cupboard]
1051      [Dietary & Lifestyle, Food Cupboard]
1052      [Dietary & Lifestyle, Food Cupboard]
                          ...
998674        [New, Tea, Coffee & Soft Drinks]
999031                  [Fresh & Chilled, New]
999167                    [Food Cupboard, New]
999432                        [Household, New]
999942                             [Home, New]
Name: category, Length: 16055, dtype: object

In [18]:
df.groupby('id')['category'].nunique()

id
1023      1
1029      1
1048      2
1051      2
1052      2
         ..
998674    2
999031    2
999167    2
999432    2
999942    2
Name: category, Length: 16055, dtype: int64

In [19]:
df.groupby('category')['name'].unique()

category
Baby, Child & Parent           [Organix Raspberry & Apple Soft Oaty Bars, Org...
Bakery                         [Mr Kipling Viennese Whirls, Mr Kipling French...
Beer, Wine & Spirits           [Hendrick's Gin, Tanqueray London Dry Gin, No....
Best of British                [Essential British Free Range Semi-Skimmed Mil...
Dietary & Lifestyle            [Goodrays CBD Mixed Pack Sparkling Drink, Acti...
Everyday Value                 [Essential Cucumber, Essential Red Peppers, Es...
Food Cupboard                  [Hellmann's Squeezy Real Mayonnaise, Pringles ...
Fresh & Chilled                [No.1 Matice Melon, Activia Strawberry Gut Hea...
Frozen                         [Cornetto Classico Ice Cream Cone, Calippo Min...
Home                           [Febreze Bathroom Air Freshener Cotton, Febrez...
Household                      [Finish Quantum All in One Lemon Dishwasher Ta...
New                            [Aqua Libra Blood Orange & Mango Sparkling Wat...
Organic Shop                   [Hellmann's Organic Mayonnaise, Yeo Valley Org...
Pet                            [FELIX As Good As it Looks Mixed Selection in ...
Summer                         [Hendrick's Gin, Tanqueray London Dry Gin, Per...
Tea, Coffee & Soft Drinks      [Aqua Libra Blood Orange & Mango Sparkling Wat...
Toiletries, Health & Beauty    [TENA Lady Pants Plus M, TENA Lady Extra Plus,...
Waitrose Brands                [No.1 Matice Melon, Waitrose Blush Pears, No.1...
Name: name, dtype: object

In [20]:
df.groupby('category')['name'].nunique()

category
Baby, Child & Parent            418
Bakery                          474
Beer, Wine & Spirits           1612
Best of British                 315
Dietary & Lifestyle            3198
Everyday Value                  140
Food Cupboard                  3948
Fresh & Chilled                3493
Frozen                          425
Home                           1068
Household                       897
New                             797
Organic Shop                    661
Pet                             358
Summer                         1762
Tea, Coffee & Soft Drinks      1175
Toiletries, Health & Beauty    2202
Waitrose Brands                1511
Name: name, dtype: int64